.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
    color: white;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.48);
}

.header img{
    width: 65px;
}

.header span{
    margin-left: 10px;
}

.header small{
    color: gray;
    font-size: .7rem;
}

.login-info{
    font-size: .8rem;
    display: flex;
    align-items: center;
}

.login-info span{
    font-weight: normal;
}
